{% extends 'index.html' %}
{% load static %}
{% block links %}
<a href="{% url 'main:main_page' %}" class="hover-underline">home</a>
<a href="{% url 'main:about_page' %}" class="hover-underline">about</a>
<a href="{% url 'main:programs_page' %}" class="hover-underline">programs</a>
<a href="{% url 'main:main_page' %}" class="hover-underline">teacher</a>
<a href="{% url 'main:news_page' %}" class="hover-underline">news</a>
<a href="{% url 'main:main_page' %}" class="hover-underline">contact</a>
{% endblock %}
{% block content %}
 <section class="about" id="about">

        <h1 class="heading">about us</h1>

        <div class="container">

            <figure class="about-image">
                <img src="{% static 'images/about.jpg' %}" alt="" height="500">
                <img src="{% static 'images/about-1.jpg' %}" alt="" class="about-img">
            </figure>

            <div class="about-content">
                <p>
                    Ala-Too International University is dedicated to educating
                    and empowering our students to become professionals and leaders of
                    their communities in Central Asia and in the world.
                </p>
                <p>
                    In 2013, AIU opened the IT&Business College, and then the Distance Learning Center,
                    master's and postgraduate courses, which expanded the prospects for new growth and
                    development of the university. Today AIU has 4 academic faculties, 19 undergraduate programs,
                    2 bachelor's degree programs, 2 master's degree programs, 10 master's programs, 6 postgraduate
                    programs,
                    3 doctoral / Ph.D programs and 3 institutes.
                </p>
            </div>
            <div class="about-content">
                <h5 class="heading">4 Faculties:</h5>
                <p>
                    -Faculty of Engineering and Informatics;<br>
                    -Faculty of Humanities;<br>
                    -Faculty of Economics and Management;<br>
                    -Faculty of Medicine.<br>
                </p>
            </div>

        </div>

        <div class="content">
            {% for one_about in abouts %}
            <h1 class="heading">{{one_about.title}}</h1>
            <div class="columns">
                <div class="column">
                    <p>
                        {{one_about.text}}
                    </p>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}